.footer {
    background-color: #9c70d6;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  