<div class="container">
    <div class="content">
      <img src="r1.png" alt="Profile Image" class="profile-image">
      <h1 class="headline">India election results</h1>

      <p class="paragraph">
        Results of the six-week-long election to the lower house of India’s Parliament<br>
        started pouring in Tuesday morning
      </p>
    
      <p class="paragraph1">
        By Vijdan Mohammad Kawoosa<br>
        Published June 4, 2024 Last updated June 5, 2024  08:30 GMT+5:30
      </p>

      <p class="paragraph2">
        Results of the Indian general elections were out on Tuesday with the National<br>
        Democratic Alliance (NDA), led by the Bharatiya Janata Party (BJP), winning<br>
        a majority, even if their seat tally reduced significantly compared to the 2019<br>
        elections.
      </p><br>

      <img src="r2.png" alt="Graph Image" class="Graph-image"><br><br>

      <p class="paragraph2">
        Counting of over 640 million votes that were cast in the 2024 Indian general<br>
        elections began early on Tuesday. The polling to elect 543 members of the Lok<br>
        Sabha, lower house of the Indian parliament, concluded on June 1.
      </p>

      <p class="paragraph2">
        The ruling BJP along with its allies was competing for a third term under<br>
        Prime Minister Narendra Modi’s leadership. The Indian National Congress<br>
        (INC), which has the second largest national footprint after the BJP, helped<br>
        stitch a new coalition called the Indian National Developmental Inclusive<br>
        Alliance (INDIA) last year, hoping to wrest power from Modi through a united<br>
        opposition.
      </p>

      <p class="paragraph2">
        Elections were held in seven phases in constituencies spread across 36 states<br>
        and federal territories.
      </p><br>

      <img src="r3.png" alt="Map Image" class="map-image"><br><br>

      <p class="paragraph2">
        The BJP seized power from the Congress and its allies with a decisive victory<br>
        in 2014, marking the first time in three decades that a single party achieved a<br>
        However, the party did not end up with enough seats this year to form a<br>
        majority by itself.
      </p>

      <p class="paragraph2">
        Its previous victories had come from the more populous northern and<br>
        western parts of India. It lost some of that turf to the Congress-led alliance<br>
        this year.
      </p><br>

      <img src="r4.png" alt="Maps Image" class="maps-image"><br><br><br>

      <p class="paragraph2">
        India's political landscape has significantly evolved over time. Until three<br>
        decades ago, the Congress was the dominant force. However, the BJP began<br>
        gaining substantial electoral strength and emerged as the leading party. Its<br>
        wins in the 2014 and 2019 elections relegated Congress to historically low<br>
        levels of influence, winning less than 10% of the seats each time. This year,<br>
        however, the Congress almost doubled its tally.
      </p><br>
      
      <img src="r5.png" alt="graph2 Image" class="graph2-image"><br><br>

      <p class="paragraph2">
        All major exit polls had predicted a historic victory for the BJP, anticipating its<br>
        best performance to date.
    </p>

      <div>
    </div>
  

  