<div class="page-container">
    <div ngxParallax="0.5" class="parallax-background section-1">
      <div class="text-content">
        <h1>Panorama of parties</h1>
        <h2>Number of parties contesting Indian elections is at its highest,</h2>
        <h2>but expected winners remain unchanged.</h2>
        <h3>By Vijdan Mohammad Kawoosa</h3>
        <h3>Published May 27, 2024  10:00 GMT+5:30</h3>
      </div>
    </div>
    <div ngxParallax="0.3" class="parallax-background section-2">
      <h1>Section 2</h1>
    </div>
    <div ngxParallax="0.1" class="parallax-background section-3">
      <h1>Section 3</h1>
    </div>
    <div ngxParallax="0.5" class="parallax-background section-4">
      <h1>Section 4</h1>
    </div>
    <div ngxParallax="0.3" class="parallax-background section-5">
      <h1>Section 5</h1>
    </div>
    <div ngxParallax="0.1" class="parallax-background section-6">
      <h1>Section 6</h1>
    </div>
  </div>
  