<div id="headline-block" class="article-block fmx-auto widest">
  <div class="header-container">
    <h1 class="visually-hidden">The perfect wave</h1>
    <h2 class="header text-6xl svelte-uyphjx" aria-hidden="true">
      <span id="the" style="transform: skewX(-2.38333deg); filter: blur(1.19167px);">The</span>
      <span id="perfect" style="transform: skewX(-3.575deg); filter: blur(1.19167px);">Perfect</span>
      <span class="font-extrabold" id="wave" style="transform: skewX(-7.15deg); filter: blur(1.19167px);">Wave</span>
    </h2>
    <h2 class="dek font-light text-lg">How Tahiti's location and seafloor help create one of the world's best spots&nbsp;to&nbsp;surf.</h2>
  </div>

  <p class="paragraph1">
    By Travis Hartman and Lincoln Feast<br>
    Photos by Thomas Bevilacqua<br>
    Published July 23
  </p>

   <p class="intro-paragraph2">
    <span class="drop-cap">W</span>
    hile most 2024 Olympians will be battling for glory in Paris, the world's<br>
    best surfers will be going for gold 16,000km away on Tahiti, where the<br> 
    spinning blue barrels of Teahupo'o might be the real star of the show.
  </p>

  <p class="intro-paragraph2">
    A potent mix of beauty and brutality, Teahupo’o has been the venue for many<br>
    of surfing’s most exciting contests and some of the sport’s seminal moments<br> 
    since it was revealed to the wider world in the 1990s.
  </p>

  <p class="intro-paragraph2">
    Teahupo'o, which loosely translates as “Pile of Heads” or “Wall of Skulls” after<br>
    a gruesome local legend, was picked to stage the Olympic competition because<br> 
    the beaches in France are mostly flat this time of year.
  </p>

  <p class="intro-paragraph2">
    Huge winter storms in the South Pacific near New Zealand generate swells of<br>
    up to 15m that travel thousands of kilometres before lurching out of the deep<br> 
    onto a shallow reef at “The End of the Road”, as Teahupo’o is also known.
  </p><br>

  <img src="r32.png" alt="r32" class="r32"><br>

  <p class="intro-paragraph2">
    A large trench carved by fresh water running off the jungle-clad mountains<br>
    provides an incredibly close and relatively safe spot for spectator boats.
  </p>

  <p class="intro-paragraph2">
    While the biggest waves rise some 10m and are not as tall as those in Portugal's<br>
    Nazare or Hawaii's Peahi, the explosive power, giant tubes and sheer volume of<br> 
    water set Teahupo'o apart as a hydrodynamic freak of nature.
  </p><br>

  <div class="scrolly-container">
    <div data-scrolly-container>
      <video #videoElement src="https://www.reuters.com/graphics/OLYMPICS-2024/SURFING/akpeoxnyopr/cdn/videos/map.mp4" preload="auto" tabindex="0" playsinline></video>
    </div>
    <div class="anno-container"></div>
  </div>
  
    <p class="intro-paragraph2">
    While the biggest waves rise some 10m and are not as tall as those in Portugal's<br>
    Nazare or Hawaii's Peahi, the explosive power, giant tubes and sheer volume of<br> 
    water set Teahupo'o apart as a hydrodynamic freak of nature.
  </p><br>

  <div class="scrolly-container">
    <div data-scrolly-container>
      <video #videoElement src="https://www.reuters.com/graphics/OLYMPICS-2024/SURFING/akpeoxnyopr/cdn/videos/hi-res-surf.mp4" preload="auto" tabindex="0" playsinline></video>
    </div>
    <div class="anno-container"></div>
  </div>

</div>
