<div class="background">
    <div class="overlay">
      <img src="visa.png" alt="Background Image" class="background-image" />
      <div class="content">
        <h1>How Thousands of Middlemen Are Gaming the H-1B Program</h1>
        <p class="p1">New data reveal how companies that farm out IT workers exploit flaws in the visa lottery while other US businesses and talented immigrants lose out.</p><br>
        <p class="p1">By Eric FanZachary MiderDenise LuMarie Patino for The Big TakeJuly 31, 2024</p><br>
        <p>Each year in April, the US government conducts a lottery that shapes the lives of hundreds of thousands of people — and America’s future as an economic power. It’s a drawing for a limited number of skilled-worker visas known as H-1Bs. Tech giants, startups, banks and drugmakers all vie for slots, hoping to snap up international graduates of top US universities who must otherwise leave the country. Most don’t get picked.</p><br>
        <p>The game, it turns out, is rigged. New federal data obtained by Bloomberg News reveal how thousands of companies got an unfair advantage by helping themselves to extra lottery tickets.</p>
    </div>
    </div>
  </div>
  <app-new></app-new>
